{{>navbar}}

<h1>{{title}}</h1>

{{#each productos}}
    <table class="table table-dark table-striped">
            <tr>
                <th> <p>ID</p> </th>
                <th> <p>Producto</p> </th>
                <th> <p>Precio</p> </th>
                <th> <p>Imagen</p> </th>
            </tr>
            <tr>
                <td> <p>{{this.id}}</p> </td>
                <td> <p> {{this.title}} </p> </td>
                <td> <p> {{this.price}} </p> </td>
                <td class="table-img"><img class="product-img" src="{{this.thumbnail}}"/></td>
            </tr>
      </table>
{{/each}}

<button class="btn btn-primary"> <a class="" href="/form">Agrega un producto nuevo </a></button>

